if ARCH_HI3716MV310
menu "HI3716MV310 board feature"

config MACH_HI3716MV310
	bool "Support hi3716mv310 platform"
	select CPU_V7
	select ARM_GIC
	select ARM_TIMER_SP804
	help
	  Include support for the hisilion hi3716mv310 platform.

choice
	prompt "CPU Chip Type"
	default HI3716MV310
config  HI3716MV310
	bool "hi3716mv310"
endchoice

choice
	prompt "CPU timer source"
	default HAVE_ARM_LOCAL_TIMER_HI3716MV310

config HAVE_ARM_LOCAL_TIMER_HI3716MV310
	bool "arm local timer from arm self"
	help
	  arm local timer from arm self.
endchoice
config HI_HI3716MV310_HZ
	int "Config HZ"
	default 100 if HIGH_RES_TIMERS
	default 100

config DEFAULT_BUSCLK
	int "DEFAULT_BUSCLK"
	default "50000000"
	help
	  Default AHB clock rate

config DEFAULT_UART_BASE_ADDR
	hex "Default uart controller base address"
	default "0x101E5000"
	help
	  Default UART controller base address

config MMZ_PARAM
	string "MMZ param for CMA and ION"
	depends on CMA
	default "ddr,0,0,320M" if MACH_HI3716MV310
	help
	  This is the parameter of mmz memory manager, which now is for CMA 
	  and ION memory manager.

config HI3716MV310_FPGA
	bool "Enable HI3716MV310 Fpga config"

menuconfig SUPPORT_CA
	bool "Support CA"
	default n
	help
	  If support ca, user privileges will be limit.
	  select y, support ca, otherwise not support ca.

config CA_SUPPORT_ADVCA
	bool "Support advca"
	depends on SUPPORT_CA
	default n
	help
	  support advca, which is the real CA.

endmenu
endif
