#+++++++++++++++++++++++++++++++++++++++++++++++++++
# menu "HIPES Config"
#+++++++++++++++++++++++++++++++++++++++++++++++++++

config HI_PES_SUPPORT
	bool "HIPES Support"
	default n

#+++++++++++++++++++++++++++++++++++++++++++++++++++
# endmenu
#+++++++++++++++++++++++++++++++++++++++++++++++++++
