choice
	prompt "Media Type"
	depends on HI_FORCE_ENV_TO_MEDIA
	default n

config FORCE_ENV_IN_NAND
	bool "Nand"
config FORCE_ENV_IN_SPI
	bool "SPI_Flash"
config FORCE_ENV_IN_EMMC
	bool "eMMC"
	depends on (!HI3716MV310)
endchoice
