#+++++++++++++++++++++++++++++++++++++++++++++++++++
#--------------------------------
menuconfig HI_WIFI_SUPPORT
	bool "WiFi Support"
	default n
	help
	  This section contains all the supported 802.11 wireless device drivers.
	  Set to 'y' to support this device, 'n' not support.

menu    "WiFi Device Type"
	depends on HI_WIFI_SUPPORT

config  HI_WIFI_DEVICE_RTL8188EUS
	bool "Realtek RTL8188ETV and RTL8188EUS (11n 1x1 2.4G USB)"
config  HI_WIFI_DEVICE_RTL8192EU
	bool "Realtek RTL8192EU (11n 2x2 2.4G USB)"
config  HI_WIFI_DEVICE_RTL8723BU
        bool "Realtek RTL8723BU (11n 1x1 2.4G WiFi+BT USB)"
config  HI_WIFI_DEVICE_RT5370
	bool "Mediatek RT5370 (11n 1x1 2.4G USB)"
config  HI_WIFI_DEVICE_MT7601U
	bool "Mediatek MT7601U (11n 1x1 2.4G USB)"
config  HI_WIFI_DEVICE_RT5572
	bool "Mediatek RT5572 (11n 2x2 2.4G+5G USB)"
endmenu

menu	"WiFi Working Mode"
	depends on HI_WIFI_SUPPORT

config  HI_WIFI_MODE_STA
	bool "STA Mode"
config  HI_WIFI_MODE_AP
	bool "SoftAP Mode"
endmenu
